In [11]:
import numpy as np
import pandas as pd
import datetime
import math

In [12]:
daily=pd.read_csv('dam_daily.csv')
daily
daily=daily.loc[daily['year']<2020]

In [13]:
monthly=pd.read_csv('dam_monthly.csv')
monthly
monthly=monthly.loc[monthly['year']<2020]

In [14]:
calmonthly=daily.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)


calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]



calmonthly

,month,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,price_morning_max,...,evening_price_mean,off_hour_mean,standard_hour_mean,morning_hour_mean,evening_hour_mean,volume,off_volume,standard_volume,morning_volume,evening_volume
0,1,176247.386871,45.697920,97.634677,33.003065,57.221999,302.932258,46.216935,165.458871,78.993226,...,97.317022,11.693548,9.358491,4.0,2.0,123101.400,86955.250,25477.675,7763.850,2904.625
1,2,181523.411257,49.200709,103.178584,32.019381,59.486600,290.432743,39.270796,153.985288,82.107699,...,105.728951,11.681416,9.340206,4.0,2.0,104402.025,69748.550,23594.425,8198.675,2860.375
2,3,125160.020702,45.981253,98.810161,29.026774,53.784516,206.841935,41.331452,110.272681,72.572258,...,99.911292,11.645161,9.327103,4.0,2.0,82042.875,49608.200,20875.150,8622.875,2936.650
3,4,148937.369633,47.656344,97.065000,27.730167,54.049646,211.321667,53.808333,127.425868,73.588833,...,105.062500,11.900000,9.294118,4.0,2.0,91746.625,50308.525,26481.000,10784.775,4172.325
4,5,126091.177008,46.410801,111.561774,29.606210,57.759899,206.531452,36.551613,106.425101,80.112661,...,112.637527,11.483871,9.401869,4.0,2.0,79180.275,50863.700,18564.250,7320.225,2432.100
5,6,218875.648000,59.502049,135.855750,36.948833,73.245413,293.115833,43.570000,148.169236,112.679917,...,139.401098,11.616667,8.650485,4.0,3.0,106681.850,71337.550,20770.975,9145.150,5428.175
6,7,295672.940621,64.840143,145.048952,40.184758,78.327268,344.539516,56.512903,184.242641,131.272903,...,146.567088,11.758065,8.657143,4.0,3.0,137076.525,88752.550,29175.400,12179.475,6969.100
7,8,324785.916855,62.354405,146.385161,37.212097,77.318417,404.634677,67.423387,216.032392,130.168790,...,149.478974,11.298387,8.685185,4.0,3.0,160728.100,102590.850,36304.000,13445.775,8387.475
8,9,331004.432008,52.668850,119.131000,33.499000,63.920955,462.670833,107.923333,262.642882,89.954000,...,136.135833,11.900000,9.294118,4.0,2.0,189102.875,121018.650,45945.250,16157.575,5981.400
9,10,356834.894653,49.281088,105.153306,31.828629,56.414946,494.074194,116.859677,306.947379,75.881694,...,118.629944,11.693548,9.358491,4.0,2.0,228368.850,141279.075,62875.525,19440.975,4773.275
10,11,312455.311058,51.503972,124.852667,31.857083,61.048701,434.174167,94.288333,258.988333,84.176250,...,140.314310,11.550000,9.346154,4.0,2.0,186471.600,116853.800,50517.125,14591.875,4508.800
11,12,236853.156927,50.939747,120.324839,31.987500,59.295780,342.294355,64.488710,198.050907,72.233629,...,127.895581,11.983871,9.276190,4.0,2.0,147349.875,95966.150,35955.975,12405.900,3021.850

In [15]:
calmonthly.to_csv('dam_calmonthly.csv')

In [16]:
dam = pd.read_csv('dam.csv')
dam['date']=pd.to_datetime(dam['tradedate'],format="%Y/%m/%d")#"%d/%m/%Y")
dam=dam.set_index(pd.DatetimeIndex(dam['date']))
dam['year']=dam.index.year
dam['month']=dam.index.month
dam['day']=dam.index.day
dam['day_of_week']=dam.index.dayofweek
dam['month_no']=dam['year']+dam['month']/100
dam

,hourlyid,market,tradedate,hour,price,volume,date,year,month,day,day_of_week,month_no
date,,,,,,,,,,,,
2016-01-01,26345,1,2016-01-01,0,40.10,477.5,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26346,1,2016-01-01,1,40.08,486.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26347,1,2016-01-01,2,40.06,495.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26348,1,2016-01-01,3,40.08,496.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26349,1,2016-01-01,4,40.07,502.9,2016-01-01,2016,1,1,4,2016.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-29,73029,1,2021-04-29,4,39.97,126.1,2021-04-29,2021,4,29,3,2021.04
2021-04-29,73037,1,2021-04-29,12,68.06,71.0,2021-04-29,2021,4,29,3,2021.04
2021-04-30,73049,1,2021-04-30,0,44.04,59.6,2021-04-30,2021,4,30,4,2021.04
2021-04-30,73057,1,2021-04-30,8,190.00,72.0,2021-04-30,2021,4,30,4,2021.04
2021-04-30,73066,1,2021-04-30,17,67.97,114.2,2021-04-30,2021,4,30,4,2021.04

In [17]:
calmonthly_hours=dam.groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(['hourlyid','year','day','day_of_week','market','month_no'],1)
calmonthly_hours

                 price      volume
month hour
1     0      38.930376  232.286559
      1      37.985108  233.581183
      2      37.604032  233.819892
      3      37.503871  236.181183
      4      37.673172  238.518280
...                ...         ...
12    19    130.661613   80.230968
      20     89.013548  105.837419
      21     73.281871  171.339355
      22     39.710839  254.710968
      23     37.374000  260.658710

[288 rows x 2 columns]

In [18]:
calmonthly_hours.to_csv('dam_calmonthly_hours.csv')