In [15]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("power_energy.csv")
data['Date']=pd.to_datetime(data['Date'],format="%d/%m/%Y")
data=data.set_index(pd.DatetimeIndex(data['Date']))
data=data.drop(['Date'],axis=1)

data['Year']=data.index.year
data['Month']=data.index.month
data['Day']=data.index.day

data['MonthId']=data['Year']+data['Month']/100
data['WaterYear']=data.apply((lambda x: (x['Year'] if x['Month']>=10 else x['Year']-1)),axis=1)
data['WaterMonth']=data.apply((lambda x: (x['Month']-9 if x['Month']>=10 else x['Month']+3)),axis=1)
data['EFlow_Prop']=data['Total_EFlow']/data['Inflow']

data.info()

NameError: name 'pd' is not defined

In [17]:
monthly=data.groupby(['Month','MonthId','WaterYear','WaterMonth'], as_index=False).aggregate(np.mean).set_index('MonthId')
monthly['Energy']=data[['MonthId','Energy']].groupby('MonthId').aggregate('sum')
monthly=monthly.sort_values(by=['MonthId'])
monthly

,Month,WaterYear,WaterMonth,Inflow,Headpond_Level,Headloss_Left_Channel,Headloss_In_Canal,Reservoir_Level,EFlow_Exceedance,CA_EFlow,...,T4_Gen_Ef,T1_Power,T2_Power,T3_Power,T4_Power,Total_Power,Energy,Cap_Factor_Pct,Year,Day
MonthId,,,,,,,,,,,,,,,,,,,,,
1924.10,10,1924.0,1.0,116.383871,990.0,0.066774,0.000000,989.933226,0.838710,28.193548,...,0.960000,8.954839,0.000000,0.000000,0.000000,8.954839,6663.40,0.046774,1924.0,16.0
1924.11,11,1924.0,2.0,153.979000,990.0,0.083333,0.000000,989.916333,0.976667,23.000000,...,0.960000,22.157667,0.000000,0.000000,0.000000,22.157667,15954.05,0.112333,1924.0,15.5
1924.12,12,1924.0,3.0,275.676774,990.0,0.123548,0.012903,989.862903,0.950000,26.000000,...,0.960000,43.330323,4.383226,0.000000,0.000000,47.713871,35499.66,0.243871,1924.0,16.0
1925.01,1,1924.0,4.0,692.740645,990.0,0.311290,0.127097,989.563226,0.708710,37.129032,...,0.964516,47.230000,47.230000,12.726129,10.088065,117.274194,87252.26,0.596774,1925.0,16.0
1925.02,2,1924.0,5.0,1193.681786,990.0,0.676071,0.370714,988.953571,0.219286,49.000000,...,0.980000,45.560714,45.560714,45.560714,45.560714,182.245000,122468.57,0.927857,1925.0,14.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017.05,5,2016.0,8.0,2195.379677,990.0,0.929032,0.480000,988.590968,0.478065,55.000000,...,0.980000,40.462258,40.462258,40.462258,40.462258,161.847097,120414.14,0.824839,2017.0,16.0
2017.06,6,2016.0,9.0,1118.893667,990.0,0.582000,0.284667,989.133333,0.526667,53.000000,...,0.972000,45.466000,45.466000,38.657667,26.870000,156.459000,112650.31,0.797333,2017.0,15.5
2017.07,7,2016.0,10.0,482.787742,990.0,0.165484,0.029355,989.806452,0.631290,50.000000,...,0.960000,42.392581,20.072903,0.000000,0.000000,62.465484,46474.95,0.318065,2017.0,16.0
2017.08,8,2016.0,11.0,318.162258,990.0,0.125806,0.012581,989.862903,0.724194,39.000000,...,0.960000,44.558710,0.000000,0.000000,0.000000,44.558710,33151.56,0.227097,2017.0,16.0
2017.09,9,2016.0,12.0,223.878333,990.0,0.098000,0.002333,989.898667,0.800000,34.000000,...,0.960000,28.951667,0.000000,0.000000,0.000000,28.951667,20844.27,0.147667,2017.0,15.5

In [18]:
yearly=monthly[['WaterYear','Energy']].groupby(['WaterYear']).aggregate('sum')
yearly

              Energy
WaterYear
1924.0     831451.77
1925.0     768680.55
1926.0     863295.85
1927.0     829016.26
1928.0     747812.80
...              ...
2012.0     847033.94
2013.0     930310.10
2014.0     886298.03
2015.0     791247.61
2016.0     853171.04

[93 rows x 1 columns]

In [19]:
mean_annual_energy=yearly['Energy'].mean()
mean_annual_energy

832195.5096774194

In [20]:
yearly['Energy_pct_var']=(yearly['Energy']-mean_annual_energy)/mean_annual_energy*100
yearly

              Energy  Energy_pct_var
WaterYear
1924.0     831451.77       -0.089371
1925.0     768680.55       -7.632216
1926.0     863295.85        3.737143
1927.0     829016.26       -0.382032
1928.0     747812.80      -10.139770
...              ...             ...
2012.0     847033.94        1.783046
2013.0     930310.10       11.789849
2014.0     886298.03        6.501179
2015.0     791247.61       -4.920466
2016.0     853171.04        2.520505

[93 rows x 2 columns]

In [21]:
calmonthly=

SyntaxError: invalid syntax (<ipython-input-21-356632dbb38e>, line 1)